body{
    background-color:#f2f2f2;
}
 /* The css properties for the loading icon when the page is first opened up */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border: 16px solid #d9d9d9;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  /* Properties that create the animation of the loader on the home page*/
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Adds the fading affect to the button that the displays to enter the site*/
  .animate-bottom {
    padding-top: 320px;
    position: center;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 5s;
    animation-name: animatebottom;
    animation-duration: 5s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #loading {
    display: none;
    text-align: center;
  }



  
  /* css for the button on the loading page, margin to get it to allign with the loading icon*/
#enter-button{
    background-color: #f2f2f2;
    margin-right: 25px;
    font-size: 20px;
}

#enter-button:hover{
    background-color: #cccccc;
    transition-duration: 1s;
}


/* css for loading the landing page progressivly */
#progressive-loading{
  animation-name: load;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
}

  @keyframes load{
    from { opacity: 0 }
      to { opacity: 1 }
}



/* margin removed to allign the nav elliments correctly on the landing page*/
#intro-container{
    margin: 0px;
}


/* navbar */

#navbar{
    margin-left: 30px;
    margin-top: 15px;
}



/* Style for the landing page content when the page loads */
#landing-main{
    margin-top: 30px;
    font-size: 26px;
    color: #2f2f38;

}


#explain{
  margin-bottom: 100px;
  margin-top: 100px;
}

#explain-2{
  margin-bottom: 95px;
}


#scroll-screen-main{
  height: 762px;
}

#scroll-screen-1{
  height: 254px;
  background-color: #6666ff;
}

#scroll-screen-2{
  height: 254px;
}

#scroll-screen-3{
  height: 254px;
}

#scroll-screen-4{
  height: 254px;
  background-color: #6666ff;
}

#scroll-screen-5{
  height: 254px;
  background-color: #6666ff;
}

#scroll-screen-6{
  height: 254px;
}



/* javascript styles that come in with the use of the click function, otherwise remain unused */

.list-change{
  color: yellow;
  font-size: 18px;
  font-style: italic;
}

/* properties for the overlay that comes up with the click of the button*/
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  animation-name: overlayTransistion;
  animation-duration: 1800ms;
  transition-timing-function: linear;
}
/* keyframes to give the fade affect to the overlay that loads*/
  @keyframes overlayTransistion{
    from { opacity: 0 }
      to { opacity: 1 }
}

#text{
  font-size: 45px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

/* Styles for the second page scrolled down with the javascript examples on it */

#second-display{
  height: 381px;
  background-color: lightgreen;
}


#displayed-message{
  padding-top: 10px;
}


#third-display{
  height: 381px;
  background-color: lightgrey;
}

/* background animation in the lower div, testing for adam */

#background-animation{
  height: 762px;
  animation-name: adam;
  animation-iteration-count: infinite;
  animation-duration: 20s;
} 

@keyframes adam {
  0%   {background-color: red;}
  10%  {background-color: yellow;}
  20%  {background-color: orange}
  75%  {background-color: pink}
  100% {background-color: red;}
}


/* styles in the contact page with the email submission form */

