.nav{
    background-color:black;
    font-family: 'Yeon Sung', cursive;
    font-size: 30px;
}

#jumbotron{
    background-color: #33334d;
}

#jumbotron-h1{
    font-family: 'Yeon Sung', cursive;
    font-size: 45px;
    text-align: center;
    color: #00ff00;
}
